#mdf_results_by_ajax table { text-align: center; }

#mdf_results_by_ajax table {border-collapse: collapse;  width: 100%; margin: 0 auto 5rem;}

#mdf_results_by_ajax th, #mdf_results_by_ajax td { padding: 1.5rem; }

#mdf_results_by_ajax tr {background: hsl(50, 50%, 80%); }

#mdf_results_by_ajax tr, #mdf_results_by_ajax td { transition: .4s ease-in; } 

#mdf_results_by_ajax tr:first-child {background: hsla(12, 100%, 40%, 0.5); }

#mdf_results_by_ajax tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

#mdf_results_by_ajax td:empty {background: hsla(50, 25%, 60%, 0.7); }
#mdf_results_by_ajax tr td{font-weight: bold;}
#mdf_results_by_ajax tr:hover:not(#firstrow), #mdf_results_by_ajax tr:hover td:empty {background: #eee; pointer-events: visible;}
#mdf_results_by_ajax tr:hover:not(#firstrow) { transform: scale(1.05); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}

#mdf_results_by_ajax tr#firstrow{
    font-size: 18px;
    color:#fff;
}
